.card {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 15px;
}

.photo {
  width: 100px;
}

.name {
  font-size: 30px;
  font-weight: 700;
}

.online {
  color: green;
}

.offline {
  color: red;
}

.online,
.offline {
  font-size: 20px;
  font-weight: 500;
}
