.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5%;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 15px;
  background-color: #fafafa;
}

.photo {
}

.name {
  color: black;
}

.tag,
.location {
  color: #808080;
}

.stats {
  display: flex;
  border-top: 1px solid #808080;
  background-color: #d3d3d3;
}

.title {
}

.value {
}
